@(groupId: Int, groups:Seq[Group], chairs: Seq[Chair], student: Form[AddStudentForm])(implicit request: MessagesRequestHeader)
@import helper._
@main("Добавить студента") {
    <h2>Добавление студента в группу №@groupId</h2>
    @form(CSRF(routes.StudentController.createStudentPostMethod(groupId))) {
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" name="last_name" class="form-control">
        <br>

        <label for="first_name">Имя</label>
        <input type="text" id="first_name"name="first_name" class="form-control">
        <br>

        <label for="patronymic">Отчество</label>
        <input type="text" id="patronymic" name="patronymic" class="form-control">
        <br>

        <input type="hidden" value="@groupId" name="group_id">

        <label for="chair_id">Кафедра</label>
        <select name="chair_id" id="chair_id" class="form-control">
            <option></option>
            @for(chair<-chairs) {
                <option value="@chair.ChairId">@chair.Name</option>
            }
        </select>
        <br>

        <input type="submit" value="Добавить" class="form-control btn btn-success">
    }
}