@(student: Student, groups:Seq[Group], chairs: Seq[Chair], studentForm: Form[AddStudentForm])(implicit request: MessagesRequestHeader)
@import helper._
@main("Редактирование студента") {
    <h2 class="h2 text-primary">Редактирование студента</h2>
    @form(CSRF(routes.StudentController.editStudentPostMethod(student.StudentId))) {
        <label for="last_name">Фамилия</label>
        <input value="@student.LastName" type="text" id="last_name" name="last_name" class="form-control">
        <br>

        <label for="first_name">Имя</label>
        <input value="@student.FirstName" type="text" id="first_name"name="first_name" class="form-control">
        <br>

        <label for="patronymic">Отчество</label>
        <input value="@student.Patronymic" type="text" id="patronymic" name="patronymic" class="form-control">
        <br>

        <label for="group_id">Группа</label>
        <select name="group_id" id="group_id" class="form-control">
        @for(group<-groups){
            @if(group.group_id == student.GroupId) {
                <option selected value="@group.group_id">@group.group_id</option>
            }
            @if(group.group_id != student.GroupId) {
                <option value="@group.group_id">@group.group_id</option>
            }
        }
        </select>

        <br>

        <label for="chair_id">Кафедра</label>
        <select name="chair_id" id="chair_id" class="form-control">
            <option></option>
            @for(chair<-chairs) {
                @if(student.ChairId != None && chair.ChairId == student.ChairId.head) {
                    <option selected value="@chair.ChairId">@chair.Name</option>
                }
                @if(student.ChairId == None || chair.ChairId != student.ChairId.head) {
                    <option value="@chair.ChairId">@chair.Name</option>
                }

            }
        </select>
        <br>

        <input type="submit" value="Обновить" class="form-control btn btn-success">
    }
}