@import models.Repository
@import scala.concurrent.Await
@import scala.concurrent.duration.Duration
@(student: Student)(db:Repository)

@main("Информация о студенте") {
    <h2>@student.LastName @student.FirstName @student.Patronymic</h2>
    <p>Группа: @student.GroupId</p>
    @if(student.ChairId != None){
        <p>Кафедра: @Await.result(db.getChairById(student.ChairId.head), Duration.Inf).head.Name</p>
    }else{
        <p>Кафедра: </p>
    }
    <div>
        <a href=@{s"/students/edit/${student.StudentId}"} class="btn btn-primary text-white">Изменить данные</a>
        <a href=@{s"/students/delete/${student.StudentId}"} class="btn btn-danger text-white">Удалить студента</a>
    </div>
}