@(chair: Chair, students: Seq[Student], addStudentForm: Form[AddStudentToChairForm])(implicit request: MessagesRequestHeader)
@import helper._
@main("Добавление студента на кафедру") {
    <h2>Кафедра "@chair.Name"</h2>
    @form(CSRF(routes.ChairController.addStudentToChairPostMethod(chair.ChairId))) {
        <label for="student_id">Добавление студента</label>
        <select id="student_id" name="student_id" class="form-control">
            @for(st<-students) {
                <option value="@{s"${st.StudentId}"}">@st.LastName @st.FirstName @st.Patronymic</option>
            }
        </select>
        <input type="hidden" value="@{chair.ChairId.toString()}" name="chair_id">
        <br>
        <input type="submit" class="btn btn-success form-control" value="Добавить">
    }
}