@(chairForm: Form[CreateChairForm])(implicit request: MessagesRequestHeader)
@import helper._

@main("Создание кафедры") {
    <h2 class="h2 text-primary">Создание кафедры</h2>
    @form(CSRF(routes.ChairController.createChairPostMethod())) {
        <label for="chairName">Название</label>
        <input type="text" name="chairName" class="form-control" id="chairName">
        <br>
        <input class="btn btn-success form-control" type="submit" value="Создать"/>
    }
}