@(chair:Chair, chairForm: Form[CreateChairForm])(implicit request: MessagesRequestHeader)
@import helper._

@main("Редактирование кафедры") {
    <h2 class="h2 text-primary">Редактирование кафедры</h2>
    @form(CSRF(routes.ChairController.editChairPostMethod(chair.ChairId))) {
        <label for="chairName">Название</label>
        <input type="text" name="chairName" class="form-control" id="chairName" value="@chair.Name">
        <br>
        <input class="btn btn-success form-control" type="submit" value="Обновить"/>
    }
}