@(chair: Chair, students: Seq[Student])

@main(s"${chair.Name}") {
    <h2>Кафедра @{chair.Name}</h2>
    <div>
        <a href="@{s"/chairs/add_student/${chair.ChairId}"}" class="btn btn-success text-white">Добавить студента</a>
        <a href="@{s"/chairs/edit/${chair.ChairId}"}" class="btn btn-primary text-white">Изменить кафедру</a>
        <a href="@{s"/chairs/delete/${chair.ChairId}"}" class="btn btn-danger text-white">Удалить кафедру</a>
    </div>
    <br>
    <div>
        <table class="table table-striped">
            <caption>Cписок прикреплённых студентов</caption>
            <thead class="header">
                <tr class="table-">
                    <th>Фамлия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Группа</th>
                    <th></th>
                </tr>
            </thead>
            @for(student <- students) {
                <tr>
                    <td><a href=@{s"/students/get/${student.StudentId}"}> @student.LastName  </a></td>
                    <td><a href=@{s"/students/get/${student.StudentId}"}> @student.FirstName </a></td>
                    <td><a href=@{s"/students/get/${student.StudentId}"}> @student.Patronymic</a></td>
                    <td><a href=@{s"/groups/get/${student.GroupId}"}>@student.GroupId</a> </td>
                    <td><a href=@{s"/chairs/delete_student/${chair.ChairId}/${student.StudentId}"}>Удалить</a></td>
                </tr>
            }
        </table>
    </div>
}