@import helper._
@(grp: Form[CreateGroupForm])(implicit request: MessagesRequestHeader)

@main("Создание группы") {
    <h2 class="h2 text-primary">Создание группы</h2>
    @form(CSRF(routes.GroupController.createGroupPostMethod())) {
        <label for="id">Номер группы (100-999)</label>
        <input name="id" id="id" type="number" class="form-control">
        <br>
        <input class="btn btn-success form-control" type="submit" value="Создать"/>
    }
}