@import helper._
@(oldGroupId: Int, grp: Form[CreateGroupForm])(implicit request: MessagesRequestHeader)

@main("Изменение группы") {
    <h2 class="h2 text-primary">Редактирование группы</h2>
    @form(CSRF(routes.GroupController.editGroupPostMethod(oldGroupId))) {
        <label for="id">Номер группы (100-999)</label>
        <input name="id" id="id" type="number" class="form-control" value="@oldGroupId">
        <br>
        <input class="btn btn-success form-control" type="submit" value="Обновить"/>
    }
}