@import scala.concurrent.Await
@import scala.concurrent.duration.Duration
@(group: Group, students: Seq[Student])(db: Repository)

@main(s"Группа #${group.group_id}") {
    <h2>Группа @{group.group_id}</h2>
    <div>
        <a href="@{s"/students/add/${group.group_id}"}" class="btn btn-success text-white">Добавить студента</a>
        <a href="@{s"/groups/edit/${group.group_id}"}" class="btn btn-primary text-white">Редактировать группу</a>
        <a href="@{s"/groups/delete/${group.group_id}"}" class="btn btn-danger text-white">Удалить группу</a>
    </div>
    <br>
    <div>
        <table class="table table-striped">
            <caption>Cписок студентов</caption>
            <thead class="header">
                <tr class="table-">
                    <th>Фамлия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Кафедра</th>
                    <th></th>
                </tr>
            </thead>
            @for(student <- students) {
                <tr>
                    <td><a href=@{s"/students/get/${student.StudentId}"}>@student.LastName  </a></td>
                    <td><a href=@{s"/students/get/${student.StudentId}"}>@student.FirstName </a></td>
                    <td><a href=@{s"/students/get/${student.StudentId}"}>@student.Patronymic</a></td>
                    @if(student.ChairId != None){
                        <td><a href="@{s"/chairs/get/${student.ChairId.head}"}">@Await.result(db.getChairById(student.ChairId.head), Duration.Inf).head.Name</a></td>
                    }
                    @if(student.ChairId == None) {
                        <td></td>
                    }
                    <td><a href=@{s"/students/delete/${student.StudentId}"}>Удалить</a></td>
                </tr>
            }
        </table>
    </div>
}