@(groups: Seq[Group], chairs: Seq[Chair])

@main("Главная страница") {
    <div class="row">
        <div class="col-sm-6 card">
            <h2 class="h2 text-center text-primary">Группы</h2>
            <a class="btn btn-primary text-white" href="groups/add">Создать группу</a>
            <br>
            <div>
                <ul>
                    @for(group <- groups) {
                        <li><a href=@{s"groups/get/${group.group_id}"}>Группа @group.group_id</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-sm-6 card">
            <h2 class="h2 text-center text-primary">Кафедры</h2>
            <a class="btn btn-primary text-white" href="chairs/add">Создать кафедру</a>
            <br>
            <div>
                <ul>
                    @for(ch <- chairs) {
                        <li>
                            <a href=@{s"chairs/get/${ch.ChairId}"}>@ch.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
